.hero-Container {
  background-color: var(--main-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.hero-image-wrapper img {
  max-width: 100%;
}

.hero-wrapper {
  width: 80%;
}
